body {
  background-image: url('bg_image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  margin: 40px auto;
  background: rgba(242, 242, 242, 0.8); /* Semi-transparent background */
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.project {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
}

.project-description {
  font-size: 18px;
  margin: 20px;
}

.project-link {
  text-decoration: none;
  color: #337ab7;
  margin: 10px;
}

.project-link:hover {
  color: #23527c;
}

.gallery {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-image {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
}

.gallery-description {
  font-size: 18px;
  margin: 20px;
}
